In [6]:
# age = 67

In [12]:
def fname(p1, p2):
    print(p1, p2)

In [13]:
fname("anuj", 25)

anuj 25

In [17]:
fname(34, p2="something")

34 something

In [20]:
def another(one, two, four, three=3):
    print("I am another funtion")

In [23]:
type(faaltu)

function

In [22]:
faaltu = another

In [24]:
faaltu(1, 2, 3)

I am another funtion

In [25]:
def sqr(x):
    return x * x

In [26]:
fn = lambda x : x*x

In [27]:
fn(4)

16

In [31]:
line = "23, 56, 12, 34"

In [34]:
arr = line.split(", ")

In [44]:
list(map(lambda x : int(x) ** 3, arr))

[12167, 175616, 1728, 39304]

In [35]:
int("3")

3

In [62]:
class Human:
    def __init__(self, name="default"):
        self.name = name

In [68]:
mohit = Human()

rohan = Human()

In [64]:
type(mohit)

__main__.Human

In [65]:
mohit.name = "Mohit Chaddha"

In [66]:
mohit.name

'Mohit Chaddha'

In [67]:
rohan.name

'default'

In [18]:
class Human:
    
    age = 56
    
    def __init__(self, name="default"):
        self.name = name
    
    def run(self, name, age=0):
        print("hello")
        
    @classmethod
    def met(cls, val):
        cls.age = val

In [19]:
sumit = Human()

In [20]:
sumit.run("hh")

hello

In [21]:
Human.age = 57

In [13]:
sumit.age = sumit.age + 1

In [14]:
sumit.age

58

In [15]:
Human.age = 60

In [16]:
sumit.age

58

In [17]:
Human.age

60