## variables

In [2]:
a = 1

In [3]:
b = a

In [4]:
a = 7

## arithmatic
* + plus
* - minus
* * mul
* / div
* // integer div
* ** power
* % mod

## Logical
* and
* or
* not
* ^  -- xor

## compare
```
* ==
* <
* >
* <=
* >=
```

In [11]:
a = 5

In [18]:
year = int(input())

if year % 4 == 0:
    pass
else:
    print("not leap")

33
not leap

In [19]:
print?

In [24]:
n = 10

row = 0
while row < n:
    col = 0
    while col < n:
        print("* ", end=" ")
        col+=1
    row+=1
    print()

*  *  *  *  *  *  *  *  *  *
*  *  *  *  *  *  *  *  *  *
*  *  *  *  *  *  *  *  *  *
*  *  *  *  *  *  *  *  *  *
*  *  *  *  *  *  *  *  *  *
*  *  *  *  *  *  *  *  *  *
*  *  *  *  *  *  *  *  *  *
*  *  *  *  *  *  *  *  *  *
*  *  *  *  *  *  *  *  *  *
*  *  *  *  *  *  *  *  *  *

In [29]:
n = 4

row = 0
while row < n:
    col = 0
    while col <= row:
        print(str(col + 1) + " ", end=" ")
        col+=1
    row+=1
    print()

1
1  2
1  2  3
1  2  3  4

In [26]:
n = 10

row = 0
while row < n:
    col = 0
    while col < (n - row):
        print("* ", end=" ")
        col+=1
    row+=1
    print()

*  *  *  *  *  *  *  *  *  *
*  *  *  *  *  *  *  *  *
*  *  *  *  *  *  *  *
*  *  *  *  *  *  *
*  *  *  *  *  *
*  *  *  *  *
*  *  *  *
*  *  *
*  *
*

### Mirror

In [30]:
n = 4

row = 0
v_mir = 0
while v_mir < 2 * n - 1:
    col = 0
    while col <= row:
        print(str(col + 1) + " ", end=" ")
        col+=1
    if v_mir < n - 1:
        row += 1
    else:
        row -= 1
    v_mir+=1
    print()

1
1  2
1  2  3
1  2  3  4
1  2  3
1  2
1

In [39]:
a = range(30, 10, -1)

In [42]:
for item in a:
    print(item)

30
29
28
27
26
25
24
23
22
21
20
19
18
17
16
15
14
13
12
11

In [45]:
name = "Mohit"

In [46]:
len(name)

5

In [48]:
name[0:3]

'Moh'

In [56]:
items = [2, 4, 6, 8]

In [57]:
# sum(items)

In [62]:
items[0:2] = [3]

In [64]:
items

[3, 9, 6, 8]

In [66]:
10 in items

False

In [67]:
items.sort()

In [69]:
sorted(items, reverse=True)

[9, 8, 6, 3]

In [70]:
coll = {}

In [71]:
coll["apple"] = "a sweet red fruit"

In [72]:
coll

{'apple': 'a sweet red fruit'}

In [73]:
coll["mango"] = "king of fruits"

In [74]:
coll

{'apple': 'a sweet red fruit', 'mango': 'king of fruits'}

In [75]:
coll["apple"]

'a sweet red fruit'

In [78]:
for item in coll:
    print(item, coll[item])

apple a sweet red fruit
mango king of fruits

## zip

In [83]:
names = ["mohit", "sumit", "rohan", "mukul"]
ages = [22, 30, 18]

In [84]:
list(zip(names, ages))

[('mohit', 22), ('sumit', 30), ('rohan', 18)]

In [89]:
items = (33, 56, 66 , 78)

In [90]:
type(items)

tuple

In [93]:
list(enumerate(items))

[(0, 33), (1, 56), (2, 66), (3, 78)]

In [95]:
list(zip(range(len(items)), items))

[(0, 33), (1, 56), (2, 66), (3, 78)]

In [99]:
for item, val in enumerate(items):
    print(val)

33
56
66
78

In [104]:
items[1:2]

(56,)